{% load static %}

<!-- при добавлении ссылок на css и js файлов, использую конструкцию: href="{% static "путь до файла" %}" -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'deps/images/Borussia_Dortmund_logo.svg' %}">

    <link rel="stylesheet" href="{% static 'deps/css/style.css' %}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'squad' %}">Squad</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>{{ title }}</h1>

<!-- === Next Match Prediction === -->
{% if bvb_prediction %}
<section class="next-match">
    <h2>Next Match: {{ bvb_prediction.home }} vs {{ bvb_prediction.away }} ({{ bvb_prediction.date }})</h2>

    <div class="prediction-result">
        <h3>Predicted Result: {{ bvb_prediction.prediction|upper }}</h3>
        <p>Confidence: {{ bvb_prediction.confidence }}</p>

        <h4>Probability:</h4>
        <ul>
            <li>Win: {{ bvb_prediction.probabilities.win|floatformat:-1 }}%</li>
            <li>Draw: {{ bvb_prediction.probabilities.draw|floatformat:-1 }}%</li>
            <li>Lose: {{ bvb_prediction.probabilities.lose|floatformat:-1 }}%</li>
        </ul>
    </div>
</section>
{% endif %}


        <section class="matches">
            <h2>Last 5 Matches</h2>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Home</th>
                    <th>Score</th>
                    <th>Away</th>
                </tr>
                {% for match in matches %}
                <tr>
                    <td>{{ match.date }}</td>
                    <td>{{ match.home }}</td>
                    <td>{{ match.home_score }} : {{ match.away_score }}</td>
                    <td>{{ match.away }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>

        <section class="stats">
            <p>Wins: {{ wins }} ({{ win_percent|floatformat:0  }}%)</p>
            <p>Draws: {{ draws }} ({{ draw_percent|floatformat:0  }}%)</p>
            <p>Losses: {{ losses }} ({{ loss_percent|floatformat:0  }}%)</p>
        </section>

        </main>

    <footer>
        <div class="footer-content">
            <div class="social-links">
                <a href="{{ social_links.instagram }}" target="_blank" rel="noopener noreferrer">Instagram</a>
            </div>
        </div>
    </footer>
    
    
    <script src="{% static 'deps/js/main.js' %}"></script>
</body>
</html>