{% load static %}

<!-- при добавлении ссылок на css и js файлов, использую конструкцию: href="{% static "путь до файла" %}" -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'deps/images/Borussia_Dortmund_logo.svg' %}">

    <link rel="stylesheet" href="{% static 'deps/css/style.css' %}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Avaleht</a></li>
                <li><a href="{% url 'squad' %}">Meeskond</a></li>
                <li><a href="{% url 'about' %}">Meist</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>{{ title }}</h1>

        <div class="content-box">
            <!-- === Next Match Prediction === -->
            {% if bvb_prediction %}
            <section class="next-match-card">

            <div class="nm-left">
                <div class="nm-date">{{ bvb_prediction.date }}</div>

                <div class="nm-teams">
                <div class="nm-team">
                    <img
                        class="nm-logo"
                        src="{% static 'deps/images/Borussia_Dortmund_logo.svg' %}"
                        alt="{{ bvb_prediction.home }}">
                    <div class="nm-name">{{ bvb_prediction.home }}</div>
                </div>

                <div class="nm-vs">VS</div>

                <div class="nm-team">
                    <img
                        class="nm-logo"
                        src="{% static '/deps/images/Borussia_Mönchengladbach_logo.svg' %}"
                        alt="{{ bvb_prediction.away }}">

                    <div class="nm-name">{{ bvb_prediction.away }}</div>
                </div>
                </div>
            </div>

            <div class="nm-divider"></div>

            <div class="nm-right">
                <div class="nm-pred-title">Ennustus:</div>
                <div class="nm-pred">{{ bvb_prediction.prediction|upper }}</div>

                <div class="nm-probs">
                <div class="nm-prob">
                    <span>Võit</span><b>{{ bvb_prediction.probabilities.win|floatformat:-1 }}%</b>
                </div>
                <div class="nm-prob">
                    <span>Viik</span><b>{{ bvb_prediction.probabilities.draw|floatformat:-1 }}%</b>
                </div>
                <div class="nm-prob">
                    <span>Kaotus</span><b>{{ bvb_prediction.probabilities.lose|floatformat:-1 }}%</b>
                </div>
                </div>
            </div>

            </section>
            {% endif %}



            <section class="matches">
                <h2>Viimased 5 mängu</h2>
                <table>
                    <tr>
                        <th>Kuupäev</th>
                        <th>Kodumeeskond</th>
                        <th>Tulemus</th>
                        <th>Külalismeeskond</th>
                    </tr>
                    {% for match in matches %}
                    <tr>
                        <td>{{ match.date }}</td>
                        <td>{{ match.home }}</td>
                        <td>{{ match.home_score }} : {{ match.away_score }}</td>
                        <td>{{ match.away }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>

            <section class="stats">
                <p>Võidud: {{ wins }} ({{ win_percent|floatformat:0  }}%)</p>
                <p>Viigid: {{ draws }} ({{ draw_percent|floatformat:0  }}%)</p>
                <p>Kaotused: {{ losses }} ({{ loss_percent|floatformat:0  }}%)</p>
            </section>
        </div>
        
    </main>

    <footer>
        <div class="footer-content">
            <div class="social-links">
                <a href="{{ social_links.instagram }}" target="_blank" rel="noopener noreferrer">Instagram</a>
            </div>
        </div>
    </footer>
    
    
    <script src="{% static 'deps/js/main.js' %}"></script>
</body>
</html>