{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'deps/images/Borussia_Dortmund_logo.svg' %}">

    <link rel="stylesheet" href="{% static 'deps/css/about.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'squad' %}">Squad</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="player-slider">
            <button class="slider-btn prev">&#10094;</button>

            <div class="slider-window">
                <div class="slider-track">
                    <div class="player-card">
                        <img src="{% static 'deps/images/Kobel_card.jpg' %}" alt="kobel">
                        <div class="player-info">
                            <span class="player-name">GREGOR KOBEL</span>
                            <span class="player-number">#01</span>
                        </div>
                    </div>

                    <div class="player-card">
                        <img src="{% static 'deps/images/Couto_card.jpg' %}" alt="couto">
                        <div class="player-info">
                            <span class="player-name">Yan Couto</span>
                            <span class="player-number">#02</span>
                        </div>
                    </div>

                    <div class="player-card">
                        <img src="{% static 'deps/images/Anton_card.jpg' %}" alt="anton">
                        <div class="player-info">
                            <span class="player-name">Waldemar Anton</span>
                            <span class="player-number">#03</span>
                        </div>
                    </div>
                </div>

            <button class="slider-btn next">&#10095;</button>
        </div>
    </main>

     <footer>
        <div class="footer-content">
            <div class="social-links">
                <a href="{{ social_links.instagram }}" target="_blank" rel="noopener noreferrer">Instagram</a>
            </div>
        </div>
    </footer>

    <script src="{% static 'deps/js/slider.js' %}"></script>

</body>

</html> 