{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'deps/images/Borussia_Dortmund_logo.svg' %}">

    <link rel="stylesheet" href="{% static 'deps/css/squad.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'squad' %}">Squad</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="players-grid">
            <div class="player-card">
                <img src="{% static 'deps/images/Kobel_card.jpg' %}" alt="kobel">
                <div class="player-info">
                    <span class="player-name">Gregor Kobel</span>
                    <span class="player-number">#01</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Couto_card.jpg' %}" alt="couto">
                <div class="player-info">
                    <span class="player-name">Yan Couto</span>
                    <span class="player-number">#02</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Anton_card.jpg' %}" alt="anton">
                <div class="player-info">
                    <span class="player-name">Waldemar Anton</span>
                    <span class="player-number">#03</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Schlotterbeck_card.jpg' %}" alt="schlotterbeck">
                <div class="player-info">
                    <span class="player-name">Nico Schlotterbeck</span>
                    <span class="player-number">#04</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Bensebaini_card.jpg' %}" alt="bensebaini">
                <div class="player-info">
                    <span class="player-name">Ramy Bensebaini</span>
                    <span class="player-number">#05</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Oezcan_card.jpg' %}" alt="ozcan">
                <div class="player-info">
                    <span class="player-name">Salih Özcan</span>
                    <span class="player-number">#06</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Bellingham_card.jpg' %}" alt="bellingham">
                <div class="player-info">
                    <span class="player-name">Jobe Bellingham</span>
                    <span class="player-number">#07</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Nmecha_card.jpg' %}" alt="nmecha">
                <div class="player-info">
                    <span class="player-name">Felix Nmecha</span>
                    <span class="player-number">#08</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Guirassy_card.jpg' %}" alt="guirassy">
                <div class="player-info">
                    <span class="player-name">Serhou Guirassy</span>
                    <span class="player-number">#09</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Brandt_card.jpg' %}" alt="brandt">
                <div class="player-info">
                    <span class="player-name">Julian Brandt</span>
                    <span class="player-number">#10</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Gross_card.jpg' %}" alt="nmecha">
                <div class="player-info">
                    <span class="player-name">Pascal Groß</span>
                    <span class="player-number">#13</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Beier_card.jpg' %}" alt="beier">
                <div class="player-info">
                    <span class="player-name">Maximilian Beier</span>
                    <span class="player-number">#14</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Duranville_card.jpg' %}" alt="duranville">
                <div class="player-info">
                    <span class="player-name">Julien Duranville</span>
                    <span class="player-number">#16</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Chukwuemeka_card.jpg' %}" alt="chukwuemeka">
                <div class="player-info">
                    <span class="player-name">Carney Chukwuemeka</span>
                    <span class="player-number">#17</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Sabitzer_card.jpg' %}" alt="sabitzer">
                <div class="player-info">
                    <span class="player-name">Marcel sabitzer</span>
                    <span class="player-number">#20</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Silva_card.jpg' %}" alt="silva">
                <div class="player-info">
                    <span class="player-name">Fabio Silva</span>
                    <span class="player-number">#21</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Can_card.jpg' %}" alt="can">
                <div class="player-info">
                    <span class="player-name">Emre Can</span>
                    <span class="player-number">#23</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Svensson_card.jpg' %}" alt="svensson">
                <div class="player-info">
                    <span class="player-name">Daniel Svensson</span>
                    <span class="player-number">#24</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Suele_card.jpg' %}" alt="sule">
                <div class="player-info">
                    <span class="player-name">Niklas Süle</span>
                    <span class="player-number">#25</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Ryerson_card.jpg' %}" alt="ryerson">
                <div class="player-info">
                    <span class="player-name">Julian Ryerson</span>
                    <span class="player-number">#26</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Adeyemi_card.jpg' %}" alt="adeyemi">
                <div class="player-info">
                    <span class="player-name">Karim Adeyemi</span>
                    <span class="player-number">#27</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Anselmino_card.jpg' %}" alt="anselmino">
                <div class="player-info">
                    <span class="player-name">Aaron Anselmino</span>
                    <span class="player-number">#28</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Drewes_card.jpg' %}" alt="drewes">
                <div class="player-info">
                    <span class="player-name">Patrick Drewes</span>
                    <span class="player-number">#30</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Ostrzinski_card.jpg' %}" alt="ostrzinski">
                <div class="player-info">
                    <span class="player-name">Silas Ostrzinski</span>
                    <span class="player-number">#31</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Meyer_card.jpg' %}" alt="meyer">
                <div class="player-info">
                    <span class="player-name">Alexander Meyer</span>
                    <span class="player-number">#33</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Campbell_card.jpg' %}" alt="campbell">
                <div class="player-info">
                    <span class="player-name">Cole Campbell</span>
                    <span class="player-number">#37</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Mane_card.jpg' %}" alt="mane">
                <div class="player-info">
                    <span class="player-name">Filippo Mane</span>
                    <span class="player-number">#39</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Kabar_card.jpg' %}" alt="kabar">
                <div class="player-info">
                    <span class="player-name">Almugera Kabar</span>
                    <span class="player-number">#42</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/Anselmino_card.jpg' %}" alt="anselmino">
                <div class="player-info">
                    <span class="player-name">Aaron Anselmino</span>
                    <span class="player-number">#28</span>
                </div>
            </div>

            <div class="player-card">
                <img src="{% static 'deps/images/NKovac_card.jpg' %}" alt="kovac">
                <div class="player-info">
                    <span class="player-name">Niko Kovac</span>
                    <span class="player-number">Treener</span>
                </div>
            </div>

        </div>

    </main>

     <footer>
        <div class="footer-content">
            <div class="social-links">
                <a href="{{ social_links.instagram }}" target="_blank" rel="noopener noreferrer">Instagram</a>
            </div>
        </div>
    </footer>

</body>

</html> 